language: node_js
node_js: "stable"

dist: trusty
sudo: required

addons:
  firefox: latest
  apt:
    sources:
     - google-chrome
    packages:
     - google-chrome-stable fluxbox

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
  - fluxbox >/dev/null 2>&1 &

services:
  - mongodb
  - xvfb

install:
  - npm install
  - cd server && npm install && cd ..

script:
  - npm test
  - node test/cafe/session_interaction.js
