language: node_js
node_js: "stable"

dist: trusty
sudo: required

addons:
  firefox: latest
  apt:
    sources:
     - google-chrome
    packages:
     - google-chrome-stable fluxbox

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - fluxbox >/dev/null 2>&1 &
  - node --max-old-space-size=8192 server/index.js > server.txt &

services:
  - mongodb
  - xvfb

install:
  - cd jiff && npm install && cd ..
  - npm install

script:
  - npm test
